@mixin subtitle ($fw,$fz,$lh,$ta){
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    text-align: $ta;
}

@mixin max ($mw){
    max-width: $mw;
}

@mixin box-size ($w,$h) {
    width: $w;
    height: $h;
}

@mixin sizepercent ($w,$wc){
    width: $w / $wc * 100%;
    
}
