.features{
    max-width: 1183px;
    margin: 0 auto;
    margin-top: 120px;

    &__banner{
        max-width: 638px;
        // align-items: center;
        margin: 0 auto;
        text-align: center;
        // justify-content: center;
        
    }

    &__h2{

    }
}