.features{
    max-width: 1183px;
    margin: 0 auto;
    margin-top: 120px;

    &__banner{
        max-width: 772px;
        margin: 0 auto;
        text-align: center;

    }

    &__group1{
        max-width: 1183px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 43px;
    }
    &__group2{
        margin-top: 50px;
        max-width: 1183px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

.bunner{
    padding-bottom: 82px;
    &__h2{
        @include font(700,40px,100%);
        margin-bottom: 50px;
        font-family: $work;
        color: $header;
    }

    &__text{
        @include font (500,18px,136%);
        // max-width: 638px;
        color: $text;
    }
}
.card{
    
    &__size{
        margin: 0 auto;
        max-width: 230px;
        max-height: 276px;
    }
    &__box,
    &__hours,
    &__print,
    &__security{
        width: 570px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;

    }
    &__data{
        width: 400px;
        height: 400px;
        background-color: $databg;
        border-radius: 50px;
    }

    &__h2{
        @include font(400,24px,130%);
        margin: 62px 0px 20px;
        z-index: 5;
      
    }
    &__text{
        @include font(400,16px,160%);
        height: 180px;
        color: #4B5D68;
        z-index: 4;
    }
    &__link{
        @include font(700,16px,130%);
        width: 137px;
        height: 27px;
        color: $datalink;
        border: 1px solid hidden;
    }
    &__vector{
        position: absolute;
        top: 20px;
        right: 50px;

    }
    &__img{
        position: absolute;
        bottom: 110px;
        right: 340px;
    }
}