.features{
    max-width: 1183px;
    margin: 0 auto;
    margin-top: 120px;
    // position: relative;

    &__banner{
        max-width: 772px;
        margin: 0 auto;
        text-align: center;

    }

}

.bunner{

    &__h2{
        @include font(700,40px,100%);
        margin-bottom: 50px;
        font-family: $work;
        color: $header;
    }

    &__text{
        @include font (500,18px,136%);
        // max-width: 638px;
        color: $text;
    }
}
.card{
    max-width: 570px;
    max-height: 400px;
    
    &__size{
        margin: 0 auto;
        max-width: 230px;
        max-height: 276px;
    }
    &__box{
        margin-top: 82px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;

    }
    &__data{
        width: 400px;
        height: 400px;
        background-color: $databg;
        border-radius: 50px;
    }

    &__h2{
        @include font(400,24px,130%);
        // font-family:$work;
        margin: 62px 0px 20px;
        z-index: 5;
      
    }
    &__text{
        @include font(400,16px,160%);
        height: 180px;
        color: #4B5D68;
        z-index: 4;
    }
    &__link{
        @include font(700,16px,130%);
        width: 137px;
        height: 27px;
        color: $datalink;
        border: 1px solid hidden;
    }
    &__vector{
        position: absolute;
        top: 20px;
        right: 50px;

    }
    &__img{
        position: absolute;
        bottom: 110px;
        left: 10px;
    }
}