.footer{
    max-width: 1170px;
    margin: 0 auto;
    font-family: $mon;
    
    &__head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    @media screen and (max-width:426px){
        &__head{
            display: flex;
            flex-direction: column;
            gap: 10px
            ;
        }
    }
        

    &__form{
        display: flex;
        flex-direction: column;

        &__h2{
            @include font (700,40px,110%);
            font-family: $work;
            margin-bottom: 20px;
            color: $header;
        }
        &__text-fit{
            @include font(500,18px,144%);
            color: $testh2;
        }
    }
    @media screen and (max-width:426px){
        &__form{
            align-items: center;
        }
    }

    &__knob{
        display: flex;
        align-items: center;
        gap: 30px;

        &__button{
            @include buttonsize (210px,60px);
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $knob;
            
            &__link{
                display: flex;
                width: 100%;
                text-decoration: none;
                color: #FFFFFF;
                height: 100%;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            }
            &__link:hover{
                background-color: $hoverbutton;
                border-radius: 50px;
                color: white;
                transition: 0.5s;
            }
            &__link:active{
                background-color:#e5379f;
            }
        }

    }

    &__demo{
            width: 210px;
            height: 60px;
            border-radius: 50px;
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: #9C69E2;
            font-size: 16px;

            &__arrow{
                width: 100%;
                height: 61px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-evenly;
                color: #212353;
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                
                

            }
    }


    &__logo{
        display: flex;
        gap: 20px;
        margin-bottom: 62px;
    }
    @media screen and(max-width:426px){
        &__logo{
            justify-content: center;
        }
    }


    &__navi{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        
    }
    @media screen and (max-width:426px){
        &__navi{
            flex-direction: column;
        }
    }

    &__navi-links{
        display: flex;
        justify-content: space-around;
        gap: 169px;
    }
    @media screen and (max-width:1024px){
        &__navi-links{
            // display: flex;
            gap: 40px;
        }
    }




    &__data{
        padding-top: 2px;
    }
    @media screen and (max-width:426px){
        &__data{
            flex-direction: column;
        }
    }


    &__corp{
        &__text{
            @include font(300,12px,22px);
            color: $corp;
            letter-spacing: 0.01em;
        }
    }


    &__media__hover{
        position: absolute;
    }

}

@media screen and (max-width:1024px){
    .footer{
        max-width: 742px;
    }
}

.contact{
    // max-width: 300px;
    color: $header;
    @include font(500,16px,180%);

    
    &__mail{
        margin: 10px 0;
    }

}
@media screen and(max-width:426px){
    .contact{
        text-align: center;
    }
}

.about{
    &__links{
        width: 100%;
        text-align: center;
        // position: relative;


        &__text{
            padding: 8px 30px 22px 0px;
            height: 40px;
            color: $header;
            @include font(600,16px,160%);
        }

        @media screen and (max-width:426px){
            &__text{
                text-align: center;
            }
        }
        &__a{
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;
            font-family: $mon;


        }
        &__adjust{
            display: flex;
            gap: 15px;
            position: relative;
        }
        @media screen and (max-width:426px){
            &__adjust{
                // text-align: center;
                justify-content: center
            }
        }
        & .href{
            @include font(500,16px,160%);
            color: $text;
            // line-height: 26px;
            // font-family: $mon;
            // margin: 10px 0;
        }
        & .href:hover{
            color: $hlhover;
            transition: 0.2s;
        }


    }

    &__media{

        &__insta,
        &__facebook,
        &__twitter{
            position: relative;
        }

        &__hover{
            position: absolute;
            left: 0;
            opacity: 0;
        }
        &__hover-twitter{
            position: absolute;
            right: 0;
            opacity: 0;
           
        }
        &__hover-insta{
            position: absolute;
            right: 0;
            opacity: 0;
        }
    }

    @media screen and (max-width:425px){
        &__media{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
}
@media screen and (max-width:426px){
    .about{
        display: flex;
    }
}


.about__media__meta:hover .about__media__hover{
    opacity: 1;
    transform: scale(1.5);
    transition: 0.3s;
}
.about__media__twitter:hover .about__media__hover-twitter{
    opacity: 1;
    transform: scale(1.5);
    transition: 0.3s;
}
.about__media__insta:hover .about__media__hover-insta{
    opacity: 1;
    transform: scale(1.5);
    transition: 0.3s;
}

.footer__demo__arrow:hover{
    background-color: #9C69E2;
    color: #FFFFFF; 
    transition: 0.5s;
}
.footer__demo__arrow:hover .footer-svg{
    stroke: white;
    transition: 0.5s;
}

.footer__demo__arrow:active{
    background-color: #7425e3;
}
