.screen{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;

    &.screen-arrange{
        display: flex;
        flex-direction: column;
    }

    &__h1{
        font-family: $work;
        @include font(700,55px,165%);
        max-width: 601px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 1024px){
        &__h1{
            font-size: 40px;
        }
    }
    @media screen and (max-width: 768px){
        &__h1{
            font-size: 20px;
            padding-bottom: 10px;
        }
    }
    @media screen and (max-width: 426px){
        &__h1{
            text-align: center;
        }
    }

    &__text{
        @include font(500,18px,160%);
        font-family: $mon;
        max-width: 370px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 1024px){
        &__text{
            font-size: 15px;
            max-width: 330px;
            padding-bottom: 15px;
        }
    }
    @media screen and (max-width: 768px){
        &__text{
            font-size: 12px;
            max-width: 242px;
        }
    }
    @media screen and (max-width: 426px){
        &__text{
            max-width: 375px;
        }
    }

    &__button{
        align-items: center;
        justify-content: center;
        display: flex;
        @include buttonsize (210px,60px);
        background-color: $button;
        border-radius: 50px;

        &__link{
            text-decoration: none;
            color:$btext ;
        }
       

    }
    @media screen and (max-width: 768px){
        &__button{
            top: 378px;
            position: absolute;
            width: 660px;
            height: 42px;
        }
    }
    @media screen and (max-width: 426px){
        &__button{
            width: 375px;
        }
    }

    &__img{
        margin-top: 82px;
        position: absolute;
        right: 0;
        top: 0;
    }
    @media screen and (max-width: 768px){
        &__img{
            margin-top: 68px;
            
        }
    }
    @media screen and (max-width: 426px){
        &__img{
            margin-top: 172px;
            
        }
    }
}

@media screen and (max-width: 1024px){
    .screen{
        max-width: 880px;
        padding-top: 40px;
    }
}
@media screen and (max-width: 768px){
    .screen{
        max-width: 712px;
        padding-top: 20px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 426px){
    .screen{
        max-width: 375px;
        margin: 0 auto;
        padding-top: 20px;
    }
}