.test{
    margin: 0 auto;
    max-width: 1170px;
    // margin: 120px 0;
    margin-bottom: 120px;
    margin-top: 120px;

    &__h2{
        padding-top: 80px;
        text-align: center;
        color: $testh2;
        position: relative;
    }
    &__h2-fit{
        font-family: 'Work Sans';
        font-size: 44px;
        line-height: 100%;
        font-weight: 700;
    
    }
    &__box{
        height: 100%;
        background-color: $testbg;
        border-radius: 50px;
        position: relative;
    }
    @media screen and (max-width:426px){
        &__box{
            margin-top: 20px;
        }
    }

    &__vector1{
        position: absolute;
        top: 0;
    }
    @media screen and (max-width:768px){
        &__vector1{
            transform: scale(0.6);
            right: 0;
        
        }
    }
    &__vector2{
        position: absolute;
        top: 6px;
        right: 0;
    }
    @media screen and (max-width:768px){
        &__vector2{
            top: 268px;
        }
    }
}
@media screen and (max-width:1024px){
    .test{
        max-width:978px;
        margin: 40px 0;
    }
}
@media screen and (max-width:768px){
    .test{
        max-width: 768px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:426px){
    .test{
        max-width: 425px;
    }
}



.people{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 80px 0;
    // padding-top: 80px;

    &__man{
        max-width: 465px;
        height: 300px;
        background: $smallbg;
        border-radius: 50px;
        display: flex;
        // margin-bottom: 80px;
        border: 1px solid $button;
        z-index: 2;

        &__img{
            padding: 50px 15px 160px 30px;
        }
    }
    @media screen and (max-width:1024px){
        &__man{
            max-width: 326px;
        }
    }
    @media screen and (max-width:426px){
        &__man{
            max-width: 316px;
        }
    }
    @media screen and (max-width:356px){
        &__man{
            max-width: 300px;
        }
    }

    &__lady{
        max-width: 465px;
        height: 300px;
        background-color: $smallbg;
        border-radius: 50px;
        display:flex;
        // margin-bottom: 80px;
        border: 1px solid $button;
        z-index: 2;

        &__img{
            padding: 50px 15px 160px 30px;
        }
    }
    @media screen and (max-width:1024px){
        &__lady{
            max-width: 326px;
        }
    }
    @media screen and (max-width:426px){
        &__lady{
            max-width: 316px;
        }
    }
    @media screen and (max-width:356px){
        &__lady{
            max-width: 300px;
        }
    }

    &__details{
        margin-top: 50px;
        width: 300px;
        height: 200px;

        &__h2{
            @include font(500,16px,160%);
            color: $header;
        }

        &__link{
            @include font(500,14px,160%);
            color: $button;
        }

        &__text{
            @include font(400,16px,160%);
            color: $text;
            padding-top: 18px;
        }
        @media screen and (max-width:356px){
            &__text{
                font-size: 14px;
            }
        }

    }
    
}
@media screen and (max-width:1024px){
    .people{
        gap: 10px;
    }
}
@media screen and (max-width:768px){
    .people{
        flex-direction: column;
        align-items: center;
    }
}
