.weare{
    max-width: 1170px;
    max-height: 560px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    background-color: $pink;
    border-radius: 50px;


    &__box{
        padding: 75px 70px;
        display: flex;
        flex-direction: row;
        gap: 130px;
    }
    @media screen and (max-width: 1024px){
        &__box{
            gap: 50px;
            padding: 30px;
        }
    }
    @media screen and (max-width: 426px){
        &__box{
            gap: 10px;
            padding: 10px;
            flex-direction: column;
        }
    }

    &__h2{
        @include font(700,40px,130%);
        font-family: $work;
        padding: 40px 0px;
        color: $header;
        
    }
    @media screen and (max-width: 1024px){
        &__h2{
            padding-bottom: 18px;
            text-align: center;
        
        }
    }
    @media screen and (max-width: 768px){
        &__h2{
            font-size: 20px;
        }
    }

    &__text{
        @include font(500,18px,160%);
        color: $text;
    }
    @media screen and (max-width: 1024px){
        &__text{
            font-size: 15px;
        }
    }
    @media screen and (max-width: 1024px){
        &__text{
            font-size: 12px;
        }
    }

}

@media screen and (max-width: 1024px){
    .weare{
        max-width: 880px;
        
    }
}
@media screen and (max-width: 768px){
    .weare{
        max-width: 768px;
        top: 200px;
    }
}
@media screen and (max-width: 426px){
    .weare{
        max-width: 425px;
        top: 200px;
    }
}

