::before{
    width: 10px;
    height: 10px;
    background-color: red;
}

.test{
    position: relative;
    top: 20px;
    font-size: 24px;
    padding: 10px 20px;
    margin: 30px;
    border: 5px solid #040;
}
