/* fonts*/
/* color*/
/* dimensions*/
/*position*/
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 14px;
  line-height: 10px;
}

body {
  width: 1440px;
  height: 1000px;
}

main {
  width: 1440px;
  height: 1000px;
}

.container {
  width: 1170px;
  height: 757px;
  margin: 121px 135px 122px;
}

.box__head {
  max-width: 450px;
  height: 157px;
  margin: 0 auto;
}
.box__head .box__slogan h2 {
  color: #898F8F;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.box__head .box__header p {
  color: #FFCC00;
  font-family: "Roboto", normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  padding-bottom: 40px;
}
.box__head .fire__img {
  padding: 0px 5px;
}
.box__head .box__fire {
  display: flex;
}

.box__bottom {
  width: 1030px;
  height: 560px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
}
.box__bottom .bottom__left {
  width: 430px;
  height: 430px;
  position: relative;
  margin-top: 65px;
}
.box__bottom .bottom__left .left__img {
  padding: 15px;
}
.box__bottom .bottom__left .left__square1,
.box__bottom .bottom__left .left__square2,
.box__bottom .bottom__left .left__square3,
.box__bottom .bottom__left .left__square4 {
  width: 100px;
  height: 100px;
  position: absolute;
}
.box__bottom .bottom__left .left__square1 {
  border-left: solid 1px;
  border-top: solid 1px;
  top: 0;
  left: 0;
  color: #FFCC00;
}
.box__bottom .bottom__left .left__square2 {
  border-top: solid 1px;
  border-right: solid 1px;
  top: 0;
  right: 0;
  color: #FFCC00;
}
.box__bottom .bottom__left .left__square3 {
  border-right: solid 1px;
  border-bottom: solid 1px;
  right: 0;
  bottom: 0;
  color: #FFCC00;
}
.box__bottom .bottom__left .left__square4 {
  border-bottom: solid 1px;
  border-left: solid 1px;
  bottom: 0;
  left: 0;
  color: #FFCC00;
}
.box__bottom .bottom__devider {
  margin: 0px 85px;
}
.box__bottom .bottom__right {
  width: 430px;
  height: 420px;
  position: relative;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__bottom .bottom__right .right__name h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-family: "Roboto", normal;
  color: #666666;
  height: 34px;
  margin-bottom: 30px;
}
.box__bottom .bottom__right .right__line {
  text-align: center;
}
.box__bottom .bottom__right .right__prof {
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  margin-bottom: 30px;
}
.box__bottom .bottom__right .right__social {
  width: 135px;
  height: 30px;
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
  color: #666666;
}
.box__bottom .bottom__right .right__social .social__facebook,
.box__bottom .bottom__right .right__social .social__twitter,
.box__bottom .bottom__right .right__social .social__google,
.box__bottom .bottom__right .right__social .social__linkedin {
  width: 30px;
  height: 30px;
  border: solid 2px;
  border-radius: 50%;
  border-color: #CCCCCC;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.box__bottom .bottom__right .right__text {
  width: 430px;
  height: 116px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
.box__bottom .bottom__right .right__devider {
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
}
.box__bottom .bottom__right .right__link {
  width: 118px;
  height: 24px;
  border: solid 1px;
  border-color: #FFCC00;
  color: #666666;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}
.box__bottom .bottom__right .right__link-decor {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  color: #666666;
}/*# sourceMappingURL=style.css.map */