body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 5px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin: 0px 135px 0px 135px;
}
.container__h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 38px;
}
@media (max-width: 770px) {
  .container__h1 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
  }
}
@media (max-width: 426px) {
  .container__h1 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
  }
}

@media (max-width: 770px) {
  .container {
    margin: 0px 34px 0px 33px;
  }
}
@media (max-width: 426px) {
  .container {
    margin: 0px 10px 0px 10px;
  }
}
.header {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato;
  color: black;
  display: flex;
  max-width: 1170px;
}

.container-project {
  width: 570px;
}
.container-project__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.container-project__text {
  max-width: 570px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-project__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-project__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

@media (max-width: 770px) {
  .container {
    margin: 0px 34px 0px 33px;
  }
}
@media (max-width: 426px) {
  .container {
    margin: 0px 10px 0px 10px;
  }
}
.container-user {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
}
.container-user__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.container-user__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-user__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-user__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

.container-initial {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
}
.container-initial__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.container-initial__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-initial__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-initial__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

.container-final {
  max-width: 1170px;
  margin: 0 auto;
  margin: 90px 0px;
}
.container-final__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.container-final__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

/* COLORS*/
/*  FONT FAMILY*/
.footer__contacts {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.footer__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}

.footer {
  max-width: 1440px;
  background-color: #F4F4F4;
}
.footer__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__header {
  max-width: 375px;
  padding-left: 135px;
}
.footer__h2 {
  margin: 30px 0px;
}
.footer__contacts {
  width: 205px;
}
.footer__icons {
  width: 18.75%;
  display: flex;
  gap: 23px;
  padding-right: 135px;
}/*# sourceMappingURL=style.css.map */