body {
  max-width: 1440px;
  padding: 0px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
}

/* COLORS*/
/*  FONT FAMILY*/
.container {
  max-width: 1170px;
  margin: 0px 135px;
}
.container__h1 {
  font-family: "Red Hat Display" sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 38px;
  margin: 38px 0px 70px 0px;
}
@media (max-width: 770px) {
  .container__h1 {
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    font-family: "Red Hat Display" sans-serif;
    color: #000000;
    margin: 50px 0px 50px 0px;
  }
}
@media (max-width: 426px) {
  .container__h1 {
    font-family: "Red Hat Display" sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    margin: 18px 0px 40px 0px;
  }
}

@media (max-width: 770px) {
  .container {
    margin: 0px 34px 0px 33px;
  }
}
@media (max-width: 426px) {
  .container {
    margin: 0px 10px 0px 10px;
  }
}
.header {
  height: 100px;
  font-family: "Lato" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
  max-width: 1170px;
}

@media (max-width: 770px) {
  .container {
    font-family: "Lato" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5em;
    color: #000000;
  }
}
.container-project {
  width: 570px;
  margin-top: 90px;
}
.container-project__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 770px) {
  .container-project__h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 426px) {
  .container-project__h2 {
    margin-bottom: 40px;
  }
}
.container-project__text {
  max-width: 570px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-project__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-project__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

@media (max-width: 770px) {
  .container-project {
    margin: 90px 0px 70px 0px;
  }
}
@media (max-width: 426px) {
  .container-project {
    margin: 70px 0px 70px 0px;
  }
}
.container-user {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
}
.container-user__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 770px) {
  .container-user__h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 426px) {
  .container-user__h2 {
    margin-bottom: 40px;
  }
}
.container-user__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-user__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-user__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

@media (max-width: 770px) {
  .container-user {
    margin: 70px 0px 70px 0px;
  }
}
@media (max-width: 426px) {
  .container-user {
    margin: 70px 0px 70px 0px;
  }
}
.container-initial {
  max-width: 1170px;
  margin: 0 auto;
}
.container-initial__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 770px) {
  .container-initial__h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 426px) {
  .container-initial__h2 {
    margin-bottom: 40px;
  }
}
.container-initial__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-initial__text {
    max-width: 700px;
  }
}
@media (max-width: 426px) {
  .container-initial__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

.container-final {
  max-width: 1170px;
  margin: 0 auto;
  margin: 90px 0px;
}
.container-final__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 770px) {
  .container-final__h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 426px) {
  .container-final__h2 {
    margin-bottom: 40px;
  }
}
.container-final__text {
  max-width: 1170px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 770px) {
  .container-final__text {
    max-width: 700px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #565656;
  }
}
@media (max-width: 426px) {
  .container-final__text {
    max-width: 300px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
  }
}

@media (max-width: 770px) {
  .container-final {
    margin: 70px 0px 70px 0px;
  }
}
@media (max-width: 426px) {
  .container-final {
    margin: 70px 0px 70px 0px;
  }
}
.footer {
  max-width: 1440px;
  background-color: #F4F4F4;
  max-height: 300px;
}
.footer__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 770px) {
  .footer__position {
    max-width: 768px;
    min-height: 410px;
    flex-direction: column;
  }
}
@media (max-width: 426px) {
  .footer__position {
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
}
.footer__header {
  margin: 70px 0px 25px 135px;
}
@media (max-width: 770px) {
  .footer__header {
    margin: 0 auto;
    max-width: 372px;
    text-align: center;
  }
}
@media (max-width: 426px) {
  .footer__header {
    max-width: 300px;
    text-align: center;
    margin-top: 50px;
  }
}
.footer__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0px;
}
@media (max-width: 770px) {
  .footer__h2 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 50px 0px 20px;
  }
}
@media (max-width: 426px) {
  .footer__h2 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 0 auto;
  }
}
.footer__contacts {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0;
}
@media (max-width: 770px) {
  .footer__contacts {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 426px) {
  .footer__contacts {
    max-width: 320px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 166%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
  }
}
.footer__icons {
  max-width: 270px;
  display: flex;
  justify-content: space-between;
  gap: 23px;
  margin-right: 135px;
}
@media (max-width: 770px) {
  .footer__icons {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 426px) {
  .footer__icons {
    max-width: 320px;
    margin: 0 auto;
  }
}
.footer__instagram, .footer__facebook, .footer__twitter, .footer__linkedin {
  width: 50px;
  height: 50px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.footer__bottom {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 30px;
}
.footer__bottom__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 426px) {
  .footer__bottom__text {
    max-width: 320px;
    margin: 0 auto;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
  }
}
@media (max-width: 770px) {
  .footer__bottom {
    order: 3;
    margin: 0;
  }
}
@media (max-width: 426px) {
  .footer__bottom {
    order: 3;
    max-width: 300px;
    margin-bottom: 50px;
  }
}

@media (max-width: 770px) {
  .footer {
    max-width: 768px;
    min-height: 410px;
  }
}
@media (max-width: 426px) {
  .footer {
    max-width: 320px;
    min-height: 421px;
  }
}/*# sourceMappingURL=style.css.map */