/*text arrow */
.text{
    &__about{
        position: relative;
    }
}
.box{
    position: absolute;
    top: 54px;
    left: 178px;

    &__top-div{
        position: relative;
        z-index: 5;
    }
    &__popular-link{
        @include subtitle(400,16px,166%,normal);
        font-family: 'Lato';
    }
    &__hover-div{
        position: absolute;
        width: max-content;
        top: -2px;
        opacity: 0;
    }

    &__hover-link{
        @include subtitle(400,16px,166%,normal);
        font-family: 'Lato';
        color: #000000;
        text-decoration: none;

    }

    &__top-div:hover &__hover-div{
        opacity: 1;
        background-color: white;
    }
}

/* header links*/

.header{

    &__underline{
        width: 40px;
        height: 1px;
        color: black;
    }
}