.main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 5px;


    &__first{
        width: 100%;
    }

    &__bg{
        width: 100%;
        position: relative;
    }
    @media screen and (max-width:768px){
        &__bg{
            display: none;
        }
    }

    &__heading{
        position: absolute;
        padding-left: 135px;
        top: 170px;
        
    }
    @media screen and (max-width:768px){
        &__heading{
            display: none;
        }
    }

    &__manifest{
        @include box-size(770px,120px);
        @include subtitle (600,48px,64px,left);
        letter-spacing: 0.05em;
        font-family: $redhat;
        color: $black;
        
    }
}
// @media (max-width:1440px){
//     .main{
//         max-width: 1440px;
//     }
//  }

@media (max-width:992px){
    .main{
        max-width: 768px;
        margin: 0px 34px;
    }
}
@media (max-width:426px){
    .main{
        max-width: none;
    }
}

.main__content{
    // @include sizepercent (1170px,1440px);
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 90px;
    // margin: 90px 0px;
    // position: relative;

    

    
    & .blog__h2{
        @include subtitle(400,48px,64px,none);
        font-family: $redhat;
        color:$black;
        // margin-left: 135px;
        // margin-right: 1065px;
        
    }

    & .blog__box{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin: 0px;
        padding-bottom: 50px;
        
    }
    & .blog__article{
        
        // @include sizepercent (450px,1170px);
        max-width: 450px;
        
        
        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
        & .text__about{
            @extend %textabout;
            
            // margin: 0 auto;

        }

        // & .text__link{
        //     position: absolute;
        // }
        // & .arrow__hover{
        //     @extend %linkdecor;
        //     font-family: $lato;
        //     letter-spacing: 0.1em;
            
        // }

        // & .text__link-hover{
        //     opacity: 0;
        //     position: absolute;
        //     top: 0;
        // }
        
        // & .text__link:hover .text__link-hover{
        //     opacity: 1;
        //     // position: absolute;

        //     & .text__arrow{
        //         display: none;
        //     }
            
        // }

    }
    & .blog__lower{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        align-items: center;
        margin-left: 5px;
        
    }

}
@media screen and (max-width:768px){
    .main__content{
        max-width: 700px;
    }
}




.main__post{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;
    

    & .post__h2{
        @extend %textheading;
    }
    & .content__aligment{
        display: flex;
        gap:30px;
        padding-bottom: 90px;
    }

    & 
    .content__lamp,
    .content__arrow,
    .content__roof{

        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
    }

    & 
    .content__lamp,
    .content__arrow,
    .content__roof{
        @include sizepercent (370px,1170px);
    }
}

.main__popular{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;

    & .popular__header-aligment{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .popular__h2{
            @extend %textheading;
        }

        .popular__box-link{
            position: relative;
            z-index: 5;
        }

        .popular__link{
            @include subtitle (400,16px,166%,normal);
            text-decoration: none;
            font-family: 'Lato';
            color: $grey500;
            // letter-spacing: 0.1em;
        }
        .popular__hover-box{
            position: absolute;
            top: 3px;
            left: 0;
            width: max-content;
            opacity: 0;
        }

        .popular__hover-link{
            font-family: $lato;
            text-decoration: none;
            color: $black;
            // letter-spacing: 0.1em;

        }

        .popular__box-link:hover .popular__hover-box{
            opacity: 1;
            background-color: white;
        }
    
    }






    & .popular__aligment{
        display: flex;
        @include sizepercent (570px,1170px);
        gap: 30px;
    }

    & .popular__mentor,
    .popular__creative{
        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
        & .text__about{
            @extend %textabout;
        }
    }

    & .button__align{
        display: flex;
        justify-content: center;
        margin: 50px 0px 90px;
    }

    & .popular__button{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 42px;
        background-color: #565656;
        color: white;

        & .popular__link{
            // @extend %linkdecor;
            text-decoration: none;
            color: white;
            align-items: center;

        }

        

    }
}
.popular__button:hover{
    background-color: black;
}



.main__information{

    @include sizepercent (1170px,1440px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 230px;
    // position: relative;

    & .information__about,
    .information__text,
    .information__align{
        position: relative;
        width: 470px;
        height: 192px;
        // @include sizepercent (470px,1170px);
    }

    & .text__about{
        margin: 0;
        @extend %infoheader;
        color: $black
    }

    & .info__text{
        // display:flex;
        @include text (Lato,normal,400,19px,32px,0.005em);
        color: $grey700;
        
    }

}

.info{

   &__box{
    position: absolute;
    top: 86px;
   }

   &__top-div{
    position: relative;
    z-index: 5;
   }

   &__hover-div{
        position: absolute;
        width: max-content;
        top: -5px;
        opacity: 0;
   }

   &__hover-link{
    @include subtitle(400,16px,166%,normal);
    font-family: 'Lato';
    color: #000000;
    text-decoration: none;
   }

   &__top-div:hover &__hover-div{
    opacity: 1;
    background: white;
   }
}