.header{
    width: 100%;
    // height: 100px;
    margin: 0 auto;
    

    & .header__container{
        // @include box-size(1170px,20px);
        @include sizepercent(1170px,1440px);
        padding: 40px 135px;
        display:flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        & .header__logo{
            // margin-right: 428px;
            padding-right: 428px;
        }

        

        & .header__menu{
            @include box-size(500px,18px);
            display:inline-flex;
            gap:42px;
            margin-right: 42px;
            
            & .link__decor{
                @extend %headerlink;
                text-decoration: none;
            }
            
        }

        
        
    } 
}





