.header{
    // width: 100%;
    margin: 0 auto;
    
@media (max-width:1440px){
    .main{
        max-width: 970px;
    }
 }

@media (max-width:992px){
    .main{
        max-width: 750px;
    }
}
@media (max-width:767px){
    .main{
        max-width: none;
    }
}







    & .header__container{
        // @include box-size(1170px,20px);
        @include sizepercent(1170px,1440px);
        padding: 40px 135px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: row;
        // text-align: center;
        // align-items: center;
        // justify-content: center;
        
        // & .header__logo{
        //     // margin-right: 428px;
        //     padding-right: 428px;
        // }

        & .header__logo{
            padding: 0px 10px;
        }

        & .header__box{
            display: flex;
            gap: 84px;

        }

        & .header__menu{
            @include box-size(500px,18px);
            // max-width: 500px;
            display:inline-flex;
            gap:42px;
            // margin-right: 42px;
            
            & .link__decor{
                @extend %headerlink;
                text-decoration: none;
            }
            
        }

        
        
    } 


    @media screen and (max-width: 1440px){
        .header{
            margin: 10px;
        }

    }
    @media screen and (max-width:768px){
        .header{
            margin: 5px;
        }
    }
    @media screen and (max-width:420px){
        .header{
            margin: 5px;
        }
    }



}





