.main__first{
    @include box-size(1440px,600px);
    

    & .main__bg{
        position: relative;
    }

    & .main__heading{
        position: absolute;
        left: 135px;
        top: 100px;
    }

    & .main__manifest{
        @include box-size(770px,120px);
        @include subtitle (600,48px,64px,left);
        letter-spacing: 0.05em;
        font-family: $redhat;
        color: $black;
        
    }
}

.main__content{
    max-width: 1440px;
    margin: 90px 0px;
    position: relative;

    & .blog__h2{
        @include subtitle(400,48px,64px,none);
        font-family: $redhat;
        color:$black;
        margin-left: 135px;
        margin-right: 1065px;
        
    }

    & .blog__box{
        @include max (1170px);
        display: flex;
        padding-left: 135px;
    }
     & .blog__article{
        @include box-size (450px,300px);
        margin: 85px 120px 85px 30px;

        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
        & .text__about{
            @extend %textabout;
            margin: 0px;
            
        }

        & .text__arrow{
            position: relative;

        }
        & .arrow__hover{
            @extend %linkdecor;
            font-family: $lato;
            letter-spacing: 0.1em;
        }

        & .text__link-hover{
            opacity: 0;
            
        }
        
        & .text__link:hover .text__link-hover{
            opacity: 1;
            position: absolute;

            & .text__arrow{
                display: none;
            }
            
        }

    }
    & .blog__lower{
        @include max (1170px);
        padding-left: 135px;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
    }


}
