.main{
    width: 100%;
    margin: 0 auto;
    
    &__first{
        width: 100%;
    }

    &__bg{
        width: 100%;
        position: relative;
    }

    &__heading{
        position: absolute;
        padding-left: 135px;
        top: 170px;
        
        
    }

    &__manifest{
        @include box-size(770px,120px);
        @include subtitle (600,48px,64px,left);
        letter-spacing: 0.05em;
        font-family: $redhat;
        color: $black;
        
    }
}

.main__content{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;
    margin-top: 90px;
    // margin: 90px 0px;
    // position: relative;

    
    & .blog__h2{
        @include subtitle(400,48px,64px,none);
        font-family: $redhat;
        color:$black;
        // margin-left: 135px;
        // margin-right: 1065px;
        
    }

    & .blog__box{
        // @include max (1170px);
        // @include sizepercent (1296px,1440px);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin: 0px;
        padding-bottom: 50px;
        
    }
    & .blog__article{
        // @include box-size (450px,300px);
        @include sizepercent (450px,1170px);
        // margin: 85px 120px 85px 30px;
        
        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
        & .text__about{
            @extend %textabout;
            margin: 0 auto;

        }

        & .text__arrow{
            position: relative;

        }
        & .arrow__hover{
            @extend %linkdecor;
            font-family: $lato;
            letter-spacing: 0.1em;
        }

        & .text__link-hover{
            opacity: 0;
            
        }
        
        & .text__link:hover .text__link-hover{
            opacity: 1;
            position: absolute;

            & .text__arrow{
                display: none;
            }
            
        }

    }
    & .blog__lower{
        
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        align-items: center;
        
    }

}

.main__post{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;
    

    & .post__h2{
        @extend %textheading;
    }
    & .content__aligment{
        display: flex;
        gap:30px;
        padding-bottom: 90px;
    }

    & 
    .content__lamp,
    .content__arrow,
    .content__roof{

        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
    }

    & 
    .content__lamp,
    .content__arrow,
    .content__roof{
        @include sizepercent (370px,1170px);
    }
}

.main__popular{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;

    & .popular__header-aligment{
        display: flex;

        & .popular__h2{
            @extend %textheading;
        }
    
    }

    & .popular__aligment{
        display: flex;
        @include sizepercent (570px,1170px);
        gap: 30px;
    }

    & .popular__mentor,
    .popular__creative{
        & .text__name{
            @extend %textname;
        }
        & .text__head{
            @extend %texthead;
        }
        & .text__date{
            @extend %textdate;
        }
        & .text__about{
            @extend %textabout;
        }
    }


    & .popular__button{
        text-align: center;

        & .popular__link{
            @extend %linkdecor;
        }
    }
}

.main__info{
    @include sizepercent (1170px,1440px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 230px;

    & .info__about,
    .info__text{
        @include sizepercent (470px,1170px);
    }

    & .text__about{
        @extend %infoheader;
        color: $black
    }
    & .info__text{
        // display:flex;
        @include text (Lato,normal,400,19px,32px,0.005em);
        color: $black
        
    }

}
