*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.textdecoration{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3C3C3C;
    margin-top: 28px;
    margin-bottom: 28px;   
}
.border{
    border: 1px;
}

.toplogo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ml-135{
    margin-left: 135px;
}

.ml-30{
    margin-left: 30px;
}
.margin-left-link{
    margin-left: 206px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}

.mt-40{
    margin-top: 40px;
}

.headersize{
    width: 1440px;
    height: 80px;
}

.menu{
    height: 80px;
    display: flex;
    justify-content: space-around;
    
}

.links{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.tel{
    width: 130px;
    display: flex;
    align-items: center;
    margin-left: 246px;
    margin-right: 136px
}

/*MAIN */


.main-container{
    background: #F6F6F6;
    width: 1440px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.users-container{
    background: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
}
.about{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}

.h1{
    width: 356px;
    height: 58px;
    
    margin-left: 536px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #3C3C3C;
}

.loremtext{
    width: 570px;
    height: 42px;
    margin-top: 40px;
    margin-left: 435px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C3C3C;
}

.h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282528;
}

/* FOOTER arrangement */

.dimension{
    width: 1440px;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.img-bottom{
    text-align: center;
    margin-top: 40px;
}

.icon-container{
    display: flex;
    width: 250px;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 384px;
    display: flex;
    flex-direction: column;
}

.blue-link:hover{
    color: #18B5DC;
}

.callback{
    background-color: white;
    padding: 10px 19.5px;
}


button:hover{
    background-color: #18B5DC;
    color: white;
    border: hidden;
}

.bluebg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.icons{
    width: 134px;
}

.overlay{
    position: absolute;
    top: 0;
    margin-top: 430px;
    background-color: #18B5DC;
    height: 270px;
    width: 270px;
    opacity: 0;
}

.employee:hover .overlay{
    opacity: 1;
}

.overlay-icon{
    position: absolute;
    top: 0;
    margin-top: 1097px;
    opacity: 0;
    
}

.lin:hover .overlay-icon{
    opacity: 1;
}

.icon-after{
    position: absolute;
    top: 0;
    margin-top: 112px;
    opacity: 0;
    
}

.icon-before:hover .icon-after{
    opacity: 1;
}

.clearance{
    display: flex;
    justify-content: center;
}

.fbicon{
    margin-left: 4px;
    margin-right: 4px;
}