*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* HEADER*/
.link__decoration{
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3C3C3C;
    margin-top: 28px;
    margin-bottom: 28px;
    
}

.nav__links li+li{
    margin-left: 30px;
}


.links__list--ml206{
    margin-left: 206px;
}

.link__decoration:hover{
    color: #18B5DC;
    }
.nav__links{
    display: inline-flex;
    align-items: center;
}

.links__list{
    height: 22px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.button{
    background-color: white;
    padding: 10px 19.5px;
}



.nav__logo{
    display: flex;
    align-items: center;
    
}

.header-container{
    width: 1440px;
    height: 80px;
}

.header__nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-left: 135px;
    
}



.nav__button{
    width: 130px;
    display: flex;
    align-items: center;
    margin-left: 246px;
    margin-right: 136px
}

/*MAIN */


.main-container{
    background: #F6F6F6;
    width: 1440px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.main__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
}

.main__heading{
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #3C3C3C;
}

.main__text{
    width: 570px;
    height: 42px;
    margin-top: 40px;
    margin-left: 435px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C3C3C;
}

.main__user{
    display: flex;
    flex-direction: column;
}
.main__user:hover .user__overlay{
    opacity: 1;
}
.user__overlay{
    position: absolute;
    background-color: #18B5DC;
    height: 270px;
    width: 270px;
    opacity: 0;
}
.user__bg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.user__link{
    display: flex;
}

.user__link-active{
    position: absolute;
    opacity: 0;
}

.user__link:hover .user__link-active{
    opacity: 1;
    
}



/* FOOTER arrangement */

.footer-container{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

.logoml{
    margin-left: 635px;
}

.listml{
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left:528px;
}


.footer-icon{
    margin-left: 595px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.footer-icon .icon__block+.icon__block{
    margin-left: 10px;
}

.button:hover{
    background-color: #18B5DC;
    color: white;
    border: hidden;
}

.icon__block{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.icon__overlay{
    position:absolute;
    opacity: 0;
    
}

.icon__block:hover .icon__overlay{
    opacity: 1;
}



