
.container{
    max-width: 1170px;
    margin: 0px 135px;

    

    &__h1{
        font-family: $redhat;
        @include subtitle(600,48px,64px,0.05em);
        margin-top: 38px;   
        margin: 0px 0px 70px 0px;
        color: $black;

    }
    
    @media (max-width:770px){
        &__h1{
            @include subtitle(600,33px,50px,0.05em);
            font-family: $redhat;
            color: $black;
            margin: 50px 0px 50px 0px;
        }
    }

    @media (max-width:426px){
        &__h1{

            font-family: $redhat;
            @include subtitle(600,30px,50px,0.05em);
            margin:0px 0px 40px;

        }
    }
    
}

@media (max-width:770px){
    .container{
        margin: 0px 34px 0px 33px;
    }
}

@media (max-width:426px){
    .container{
        margin: 0px 10px 0px 10px;
    }
}

.header{
    max-width: 1170px;
    display: flex;
    align-items: center;
    height: 100px;
    @include subtitle (400,16px,150%,00.5em);
    color: $black;
    

}
@media (max-width:426px){
    .header{
        height: 60px;
    }
}

@media (max-width:770px){
    .container{
        font-family:$lato;
        @include subtitle (400,16px,150%,0.5em);
        color: $black;
        
    }
}


.container-project{
    max-width: 570px;
    margin-top: 90px;
    
    &__h2{
        font-family: $redhat;
        @include subtitle (600,28px,166%,0.1em);
        color: $black;
        margin-bottom: 50px;
        
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
            font-size: 26px;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        min-height: 255px;
        max-width: 570px;
        @include subtitle (400,19px,32px,0.05em);
        justify-content: space-between;
        color: $text;
        

    }
    @media (max-width:770px){
        &__text{
            max-width: 700px;
            min-height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            min-height: 350px;
            @include subtitle (400,16px,32px,0.05em);
            color: $text;


        }
    }
}

@media (max-width:770px){
    .container-project{
        max-width: 700px;
        margin: 90px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-project{
        margin: 70px 0px 70px 0px;
    }
} 


.container-user{
    max-width: 1170px;
    margin: 0 auto;
    margin: 90px 0px;


    &__h2{
        font-family: $redhat;
        @include subtitle (600,28px,100%,0.1em);
        color: $black;
        margin-bottom: 50px;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
            line-height: 143%;
        }
    }



    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        min-height: 190px;
        max-width: 1170px;
        @include subtitle (400,19px,32px,0.05em);
        color: $text;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
            min-height: 285px;
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            min-height: 460px;
            font-family: $lato;
            @include subtitle (400,16px,32px,0.05em);
            color: $text;

        }
    }
}

@media (max-width:770px){
    .container-user{
        margin-bottom:70px;
    }
}

@media (max-width:426px){
    .container-user{
        margin-bottom: 70px;
    }
} 

.container-initial{
    max-width: 1170px;
    // margin: 0 auto;
    margin-bottom: 90px;
    

    &__h2{
        font-family: $redhat;
        @include subtitle(600,28px,166%,0.1em);
        color:$black;
        margin-bottom: 50px;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }



    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        min-height: 190px;
        max-width: 1170px;
        @include subtitle (400,19px,32px,0.05em);
        color: $text;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            min-height: 340px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 300px;
            @include subtitle(400,16px,32px,0.05em);
            color: $text;

        }
    }
}

@media (max-width:770px){
    .container-initial{
        margin: 70px 0px 90px 0px;
    }
}

@media (max-width:426px){
    .container-initial{
        margin: 70px 0px 70px 0px;
    }
} 



.container-final{
    max-width: 1170px;
    // margin: 0 auto;
    margin: 90px 0px;

    

    &__h2{
        font-family: $redhat;
        @include subtitle(600,28px,166%,0.1em);
        color: $black;
        margin-bottom: 50px;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }

    &__text{
        margin-top: 20px;
        @include subtitle (400,19px,32px,0.05em);
        color: $text;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
            @include subtitle(400,19px,32px,0.1em);
            color: $text;
        }
    }

    @media (max-width:426px){
        &__text{
            letter-spacing: 0.1em;
            max-width: 300px;
            @include subtitle(400,16px,32px,0.1em);
            color: $text;
        }
    }
}
@media (max-width:770px){
    .container-final{
        margin: 70px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-final{
        margin: 70px 0px 70px 0px;
        
    }
} 





