
.container{
    max-width: 1170px;
    margin: 0px 135px;

    &__h1{
        font-family: $redhat;
        @include subtitle(600,48px,64px,0.05em);
        color: $black;
        color: #000000;
        margin-top: 38px;   
        margin: 0px 0px 70px 0px;

    }
    
    @media (max-width:770px){
        &__h1{
            @include subtitle(600,33px,50px,0.05em);
            font-family: $redhat;
            color: $black;
            margin: 50px 0px 50px 0px;
        }
    }

    @media (max-width:426px){
        &__h1{
            
            font-family: $redhat;
            @include subtitle(600,30px,50px,0.05em);
            margin: 18px 0px 40px 0px;
            
        }
    }
    
}

@media (max-width:770px){
    .container{
        margin: 0px 34px 0px 33px;
    }
}

@media (max-width:426px){
    .container{
        margin: 0px 10px 0px 10px;
    }
}


.header{
    display: flex;
    align-items: center;
    height: 100px;
    // font-family: $lato;
    @include subtitle (400,16px,150%,00.5em);
    // font-style: normal;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 150%;
    // letter-spacing: 0.5em;
    color: $black;
    max-width: 1170px;

}
@media (max-width:426px){
    .header{
        height: 60px;
    }
}

@media (max-width:770px){
    .container{
        font-family:$lato;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: #000000;
        
    }
}


.container-project{
    max-width: 570px;
    margin-top: 90px;
    
    &__h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 50px;
        
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
            font-size: 26px;
        }
    }

    &__text{
        max-width: 570px;
        @include subtitle (400,19px,32px,0.05em);
        color: $text;
        

    }
    @media (max-width:770px){
        &__text{
            max-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            min-height: 350px;
            @include subtitle (400,16px,32px,0.05em);
            color: $text;


        }
    }
}

@media (max-width:770px){
    .container-project{
        max-width: 700px;
        margin: 90px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-project{
        margin: 70px 0px 70px 0px;
    }
} 


.container-user{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 90px;

    &__h2{
        font-family: $redhat;
        @include subtitle (600,28px,166%,0.1em);
        color: $black;
        margin-bottom: 50px;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }



    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 90px;
        min-height: 190px;
        max-width: 1170px;
        @include subtitle (400,19px,32px,0.05em);
        color: $text;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            min-height: 460px;
            font-family: $lato;
            @include subtitle (400,16px,32px,0.05em);
            color: $text;

        }
    }
}

@media (max-width:770px){
    .container-user{
        margin: 70px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-user{
        margin: 70px 0px 70px 0px;
    }
} 

.container-initial{
    max-width: 1170px;
    margin: 0 auto;
    

    &__h2{
        // @extend %h2;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        // line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }



    &__text{
        max-width: 1170px;
        // @extend %text;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            min-height: 340px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 300px;
            @include subtitle(400,16px,32px,0.05em);
            color: $text;

        }
    }
}




.container-final{
    max-width: 1170px;
    margin: 0 auto;
    margin: 90px 0px;

    &__h2{
        // @extend %h2;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }

    &__text{
        max-width: 1170px;
        // @extend %text;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            letter-spacing: 0.1em;
            color: #565656;
        }
    }

    @media (max-width:426px){
        &__text{
            letter-spacing: 0.1em;
            max-width: 300px;
            @include subtitle(400,16px,32px,0.1em);
            color: $text;
        }
    }
}
@media (max-width:770px){
    .container-final{
        margin: 70px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-final{
        margin: 70px 0px 70px 0px;
    }
} 





