
.container{
    max-width: 1170px;
    margin: 0px 135px;

    &__h1{
        // @extend %h1desc;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-top: 38px;   
        margin: 38px 0px 70px 0px;

    }
    
    @media (max-width:770px){
        &__h1{
            // @extend %h1tablet;
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 50px;
            letter-spacing: 0.05em;
            color: #000000;
            margin: 50px 0px 50px 0px;
        }
    }

    @media (max-width:426px){
        &__h1{
            // @extend %h1mobile;
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 50px;
            letter-spacing: 0.05em;
            color: #000000;
            margin: 18px 0px 40px 0px;
            
        }
    }
    
}

@media (max-width:770px){
    .container{
        margin: 0px 34px 0px 33px;
    }
}

@media (max-width:426px){
    .container{
        margin: 0px 10px 0px 10px;
    }
}


.header{
    // @include subtitle (400,16px,150%);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5em;
    color: #000000;
    max-width: 1170px;
    

}

@media (max-width:770px){
    .container{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: #000000;
        
    }
}

.container-project{
    width: 570px;
    margin-top: 90px;
    
    &__h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        // @extend %h2;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }

    &__text{
        max-width: 570px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;

    }
    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;


        }
    }
}

@media (max-width:770px){
    .container-project{
        margin: 90px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-project{
        margin: 70px 0px 70px 0px;
    }
} 


.container-user{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 90px;

    &__h2{
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }



    &__text{
        max-width: 1170px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;

        }
    }
}

@media (max-width:770px){
    .container-user{
        margin: 70px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-user{
        margin: 70px 0px 70px 0px;
    }
} 

.container-initial{
    max-width: 1170px;
    margin: 0 auto;
    

    &__h2{
        // @extend %h2;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        // line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }



    &__text{
        max-width: 1170px;
        // @extend %text;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
        }
    }
    @media (max-width:426px){
        &__text{
            max-width: 300px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;
            

        }
    }
}




.container-final{
    max-width: 1170px;
    margin: 0 auto;
    margin: 90px 0px;

    &__h2{
        // @extend %h2;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }

    @media (max-width:770px){
        &__h2{
            margin-bottom: 50px;
        }
    }
    @media (max-width:426px){
        &__h2{
            margin-bottom: 40px;
        }
    }

    &__text{
        max-width: 1170px;
        // @extend %text;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
    }

    @media (max-width:770px){
        &__text{
            max-width: 700px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            letter-spacing: 0.1em;
            color: #565656;
        }
    }

    @media (max-width:426px){
        &__text{
            max-width: 300px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;

        }
    }
}
@media (max-width:770px){
    .container-final{
        margin: 70px 0px 70px 0px;
    }
}

@media (max-width:426px){
    .container-final{
        margin: 70px 0px 70px 0px;
    }
} 





