body {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;
}

/* BASE COLORS*/
/*GREY SHADES */
/* SEMANTIC COLORS*/
/*TYPE FACES*/
body {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;
}

.footer {
  width: 100%;
  background-color: #F4F4F4;
  position: relative;
}
.footer__arrangement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__header {
  width: 26.0416666667%;
  padding-left: 135px;
}
.footer__header .footer__contacts {
  width: 54.5945945946%;
}
.footer__icons {
  width: 18.75%;
  display: flex;
  gap: 23px;
  padding-right: 135px;
}
.footer__icons .footer__instagram-svg,
.footer__icons .footer__facebook-svg,
.footer__icons .footer__twitter-svg,
.footer__icons .footer__linkedin-svg {
  width: 50px;
  height: 50px;
  border: solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7B7B7B;
}
.footer__bottom {
  bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header {
  width: 100%;
  margin: 0 auto;
}
.header .header__container {
  width: 81.25%;
  padding: 40px 135px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header .header__container .header__logo {
  padding-right: 428px;
}
.header .header__container .header__menu {
  width: 500px;
  height: 18px;
  display: inline-flex;
  gap: 42px;
  margin-right: 42px;
}
.header .header__container .header__menu .link__decor {
  text-decoration: none;
}

.main {
  width: 100%;
  margin: 0 auto;
}
.main__first {
  width: 100%;
}
.main__bg {
  width: 100%;
  position: relative;
}
.main__heading {
  position: absolute;
  padding-left: 135px;
  top: 170px;
}
.main__manifest {
  width: 770px;
  height: 120px;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: left;
  letter-spacing: 0.05em;
  font-family: "Red Hat Display", sans-serif;
  color: #000000;
}

.main__content {
  width: 81.25%;
  margin: 0 auto;
  margin-top: 90px;
}
.main__content .blog__h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  text-align: none;
  font-family: "Red Hat Display", sans-serif;
  color: #000000;
}
.main__content .blog__box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 0px;
  padding-bottom: 50px;
}
.main__content .blog__article {
  width: 38.4615384615%;
}
.main__content .blog__article .text__about {
  margin: 0 auto;
}
.main__content .blog__article .text__arrow {
  position: relative;
}
.main__content .blog__article .arrow__hover {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
}
.main__content .blog__article .text__link-hover {
  opacity: 0;
}
.main__content .blog__article .text__link:hover .text__link-hover {
  opacity: 1;
  position: absolute;
}
.main__content .blog__article .text__link:hover .text__link-hover .text__arrow {
  display: none;
}
.main__content .blog__lower {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  align-items: center;
}

.main__post {
  width: 81.25%;
  margin: 0 auto;
}
.main__post .content__aligment {
  display: flex;
  gap: 30px;
  padding-bottom: 90px;
}
.main__post .content__lamp,
.main__post .content__arrow,
.main__post .content__roof {
  width: 31.6239316239%;
}

.main__popular {
  width: 81.25%;
  margin: 0 auto;
}
.main__popular .popular__header-aligment {
  display: flex;
}
.main__popular .popular__aligment {
  display: flex;
  width: 48.7179487179%;
  gap: 30px;
}
.main__popular .popular__button {
  text-align: center;
}
.main__info {
  width: 81.25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.main__info .info__about,
.main__info .info__text {
  width: 40.1709401709%;
}
.main__info .text__about {
  color: #000000;
}
.main__info .info__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #000000;
}

.header .header__container .header__menu .link__decor {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

.main__content .blog__article .text__name, .main__post .content__lamp .text__name,
.main__post .content__arrow .text__name,
.main__post .content__roof .text__name, .main__popular .popular__mentor .text__name,
.main__popular .popular__creative .text__name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.main__content .blog__article .text__head, .main__post .content__lamp .text__head,
.main__post .content__arrow .text__head,
.main__post .content__roof .text__head, .main__popular .popular__mentor .text__head,
.main__popular .popular__creative .text__head {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.main__content .blog__article .text__date, .main__post .content__lamp .text__date,
.main__post .content__arrow .text__date,
.main__post .content__roof .text__date, .main__popular .popular__mentor .text__date,
.main__popular .popular__creative .text__date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.main__content .blog__article .text__about, .main__popular .popular__mentor .text__about,
.main__popular .popular__creative .text__about {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.main__post .post__h2, .main__popular .popular__header-aligment .popular__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.main__info .text__about {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.footer__header .footer__h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}

.footer__header .footer__contacts {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.footer__bottom-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.main__content .blog__article .arrow__hover, .main__popular .popular__button .popular__link {
  text-decoration: none;
  color: #000000;
}/*# sourceMappingURL=style.css.map */