/* fonts*/
$raleway:'Raleway', sans-serif;
$roboto:'Roboto', normal;
$opensans: 'Open Sans';
$bfs:14px;



/* color*/
$gold: #FFCC00;
$grey:#666666;
$lightgrey:#CCCCCC;
$white: white;
$h2:#898F8F;

/* dimensions*/
$Oauto: 0 auto;

/*position*/
$border:solid 1px;
    
