.footer{
    max-width: 1440px;
    background-color: $footer;

    &__position{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__header{
        max-width: 375px;
        padding-left: 135px;
    }
    &__h2{
        @extend %footerhead;
        margin: 30px 0px;
    }

    &__contacts{
        width: 205px;
        @extend %contacts;
    }

    
    
    &__instagram{
        width: 50px;
        height: 50px;
        border: solid 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey500;
    }


    &__bottom{
        bottom: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;

        &-text{
            @extend %footertext;

        }
    }

}
&__icons{
    @include sizepercent (270px,1440px);
    display: flex;
    gap: 23px;
    padding-right: 135px;

    &__instagram{
        width: 50px;
        height: 50px;
        border: solid 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey500;
    }

    
}

