*{
    margin: 0px;
    padding: 0px;
}

div img{
    border-radius: 20px;
}

.main_container{
    width: 1440px;
   
}
:root{
    --gap-left: 30px;

}

.overlay{
    position: absolute;
    width: 370px;
    height: 370px;
    /*background: burlywood;*/
    background: linear-gradient(360deg, #241F24 0%,
    rgba(91, 91, 91, 0.447552) 34.11%,
    rgba(187, 186, 192, 0.26) 62.5%);
    border-radius: 20px;
}

.links-adjust{
    display: flex;
    opacity: .8;
}












.heading-cities,
.heading-nature,
.heading-people{
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 120px;
    margin-bottom: 80px;
}

.cities{
    width:1170px;
    height: 1295px;
    margin: 120px 135px;
}

.gallery-grid{
    
    display: grid;
    width: 1170px;
    height: 1170px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
    grid-gap: 30px;

   
}
.france{
    grid-area: 1/1/2/2;
}
.street{
    grid-area: 2/2/1/4;
}
.back-yard{
    grid-area: 2/1/3/3;
    
}
.italia{
    grid-area: 2/3/3/4;
}
.night-street{
    grid-area: 3/1/4/2;
}
.bridge{
    grid-area: 3/2/4/4;
}


.nature-container{
    width:1170px;
    height: 1695px;
    margin: 120px 135px;
}

.nature-grid{
    Width:1170px;
    Height:1570px;
    display: grid;
    grid-template-columns: repeat(3,370px);
    grid-template-rows: repeat(4, 370px);
    grid-gap: 30px;
}

.mountain{
    grid-area: 1/1/2/2;
}
.sea{
    grid-area: 1/2/2/4;
}
.rocks{
    grid-area: 2/1/4/3;
}
.sunset{
    grid-area: 2/3/4/4;
    
}
.flowers{
    grid-area: 4/1/5/3;
}
.tree{
    grid-area: 4/3/5/4;
    
}

.people-container{
    width:1170px;
    height: 2095px;
    margin: 120px 135px;
}
.people-grid{
    Width:1170px;
    Height: 2095px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(5,370px);
    grid-gap:30px;
}
.dress{
    grid-area: 1/1/2/2;
}
.yellow{
    grid-area: 1/2/3/3;
}
.black{
    grid-area: 1/3/2/4;
}
.side{
    grid-area: 2/1/2/3;
}
.orange{
    grid-area: 2/3/4/4;
}
.bad{
    grid-area: 3/1/5/2;
}
.glasses{
    grid-area: 3/2/4/3;
}
.team{
    grid-area: 4/2/5/4;
}
.front{
    grid-area: 5/1/6/3;
}
.grass{
    grid-area: 5/3/6/4;
}