%headerlink{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
}

%textname{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}

%texthead{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

%textdate{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}
%textabout{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
}

%textheading{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

%infoheader{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

%linkdecor{
    text-decoration: none;
    color: #000000;
}

