$work: 'Work Sans', sans-serif;
$mon: 'Montserrat';

/* COLORS*/
$hlhover: #8A40EE;
$hl: #4B5D68;
$btext:  #FFFFFF;
$button: #9C69E2;
$pink: #FDE8F5;
$text: #4B5D68;
$header: #212353;

/*CARDS COLOR*/
$bghours:#F6F0FD;
$bgprint:#FEF0F8;
$bgsecutity:#EAF6FC;
$databg:#F0FAF9;
$datalink:#212353;
$hoursbg:#F6F0FD;
$printbg:#FEF0F8;
$securitybg:#EAF6FC;

/*testimonial*/
$testh2:#4B5D68;
$testbg:#CCDDFF;
$smallbg:#fff;

/*footer*/
$knob: #F063B8;
$hoverbutton:#EB4BAB;
$corp:#212353;
