*{
    margin: 0px;
    padding: 0px;
}
body{
    /* display: flex; */
    align-items: center;
    /* text-align: center; */
}
.header{
    text-align: center;
}
.search{
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
    /* width: fit-content; */
    height: 100px;
    border-radius: 20px;
    justify-content: center;
    background: rgb(242,247,7);
    background: linear-gradient(0deg, rgba(242,247,7,1) 0%, rgba(104,191,231,1) 51%, rgba(0,245,255,1) 100%);
}
.details{
    /* margin-left: 50px; */

    /* display: flex; */
    /* align-items: flex-end; */

    padding: 2px;
    border-radius: 10px;
    width: max-content;
    height: fit-content;
    background-color:aquamarine;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#show{
    display: grid;
}
#city-weather{
    padding: 5px;
    border-radius: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(317deg, rgba(34,193,195,1) 0%, rgba(126,190,132,1) 58%, rgba(159,189,110,1) 82%, rgba(253,187,45,1) 100%);
}