 %header{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5em;
    color: #000000;

}

%h1desc{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
}

%h1tablet{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
}
%h1mobile{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
}

%h2{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

%text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
}

%contacts{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

%footerhead{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;

}