.about-me{
    background-color: $alice;
    margin: 100px;
    padding: 100px;
}


    /*@extend .banner;*/

    $__container {
         
        @include container;
    }

    &__title{
        margin: 40px;
        background-color: $purple;
    }

