.box__bottom{
    @include box-size(1030px,560px);
    margin: $Oauto;
    margin-top: 40px;
    display: flex;
    


    & .bottom__left{
        @include box-size(430px,430px);
        position: relative;
        margin-top: 65px;

        & .left__img{
            padding: 15px;
        }
    
        & .left__square1,
        .left__square2,
        .left__square3,
        .left__square4{
            @include box-size(100px,100px);
            position:absolute;
        }
        & .left__square1{
            border-left: $border;
            border-top: $border;
            top: 0;
            left: 0;
            color: $gold;
        }
        & .left__square2{
            border-top: $border;
            border-right: $border;
            top: 0;
            right: 0;
            color: $gold;
        }
        & .left__square3{
            border-right: $border;
            border-bottom: $border;
            right: 0;
            bottom: 0;
            color: $gold;
        }
        & .left__square4{
            border-bottom: $border;
            border-left: $border;
            bottom: 0;
            left: 0;
            color: $gold;
        }

    }
    

    & .bottom__devider{
        margin: 0px 85px;
    }

    & .bottom__right{
        @include box-size(430px,420px);
        position: relative;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .right__name h2{
            @include subtitle(900,36px,42px,center);
            font-family: $roboto;
            color: $grey;
            height: 34px;
            margin-bottom: 30px;
            
        }
        & .right__line{
            text-align: center;
            
        }
        & .right__prof{
            font-family: $raleway;
            margin-top: 30px;
            @include subtitle(400,24px,36px,center);
            color: $grey;
            margin-bottom: 30px;
        }
        & .right__social{
            @include box-size(135px,30px);
            display: flex;
            gap: 5px;
            margin-bottom: 50px;
            color: $grey;   
             

            & .social__facebook,
            .social__twitter,
            .social__google,
            .social__linkedin{
                @include  box-size (30px,27px);                     
                border: solid 2px;
                border-radius: 50%;
                border-color: $lightgrey;
                display: inline-flex;
                align-items: center;
                justify-content: center;
               
            }
            
            
        }
        & .right__text{
            @include box-size(430px,116px);
            @include subtitle(500,14px,24px,center);
            font-family: $raleway;
            margin-bottom: 20px;

        }
        & .right__devider{
            display: flex;
            gap: 5px;
            margin-bottom: 25px;
        }
        & .right__link{
            @include box-size(118px,24px);
            border: $border;
            border-color: $gold;
            color: $grey;
            padding: 5px 10px;
            text-transform: capitalize;
            text-align: center;
            text-decoration: none;
            
        }
        
        & .right__link-decor{
            font-family: $opensans;
            @include subtitle(700,14px,14px,center);
            text-decoration: none;
            color: $grey;
        }



    }



}