*{
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 28px;
}


:root{
    --mt70: 70px;
    --mb40: 40px;
    --mb70: 70px;
    --mb80: 80px;
    --mb90: 90px;
    --mr50: 50px;
    --mr10: 10px;
    --ml30: 30px;
    --ml601: 601px;
    --ml535: 535px;
    --pl10: 10px;
    --pos: sticky;
    --ml100: 100px;
    


}
.header__icon{
    margin-right: var(--mr50);
}

.description__first,.description__slash{
    margin-right: var(--mr10);
}



.header__container{
    width: 1440px;
    height: 80px;
    margin-bottom: var(--mb70);
    display: flex;
}

.description__block{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description__name{
    display: flex;
    
}

.description__first,
.description__slash,
.description__second
{
    font-family: 'Staatliches';
}

.header__description{
    display: flex;
    gap: 10px;
}

.header__nav--block{
    width: 1200px;
    height: 54px;
    margin: 13px 120px 83px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}


/*MAIN*/

.main{
    
    display: flex;
    margin-left: 120px;
    width: 1400px;
    height: 3081px;
    padding-bottom: 90px;
}

.main__background{
    width: 1440px;
    background: url(../img/header/bg-picture.png);
    background-repeat: no-repeat;
    background-position: left 830px top 150px;
    background-attachment: fixed;
}



.main__section{
    margin-left: var(--ml30);
}

.main__block{
    width: 785px;
    margin-bottom: var(--mb70);
    
}

.main__nav{
    position: sticky;
}

.main__link{
    position: var(--pos);
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
}




.main__heading{
    font-family: 'Francois One';
    margin-bottom: var(--mb40);
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}


.main__heading-set{
    width: 385px;
    height: 58px;
    border-bottom: 1px #BDBDBD solid;
    margin-bottom: var(--mb70);
    text-decoration: none;
    color: #000000;
}

.main__link-decor{
    text-decoration: none;
    width: max-content;
    
}


.main__block-sup{
    display: flex;
    flex-direction: column;
}

.main__devider{
    width: 100px;
    margin-bottom: 20px;
}
.main__heading-style{
    display: flex;
}


.main__chapter{
    font-family: 'Farro';
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    padding-left: var(--pl10);
}



.main__text{
    width: 785px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    margin-bottom: var(--mb40);
}

.main__text-weight{
    font-weight: 700;
}