/* BASE COLORS*/
$black:#000000;
$white:#FFFFFF;

/*GREY SHADES */
$grey900:#323232;
$grey700:#565656;
$grey500:#7B7B7B;
$grey300:#CCCCCC;
$greyfooter:#F4F4F4;

/* SEMANTIC COLORS*/
$errors:#E10000;

/*TYPE FACES*/
$redhat:'Red Hat Display', sans-serif;
$lato: 'Lato', sans-serif;

