@mixin font($fw,$fz,$lh){
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}

@mixin buttonsize ($mw,$mh){
    width:$mw;
    height:$mh;
}

@mixin button ($w,$h,$br,$b,$d,$ai,$jc){
    width: 210px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}