*{
    font-family:'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

}

html{
    width: 790px;
    
}

header div p{
    display:block;
    
    
}

.firstp{
    padding: 20px 270px 4px 248px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;

}

header{
    text-align: center;
    color: #FF8984;
    width: 800px;
    height: 80px;
    background-color: #4A4F56;
}


main{
    width: 800px;
    
    background-color: #88839E;
}


/*LIST*/

section div{
    margin: 0px 130px 0px 130px;
} 

section div form label{
    display: contents;
    padding-left: 20px;
    font-size: 18px;
    line-height: 21px;
}

section div form input{
    margin-top: 15px;
}

.pickles{
    width: 534px;
    height: 45px;
}


section div form:hover{
    background-color:#625E77;
}
input:active+label{
    color: #7A7593;
}

.apples{
    width: 534px;
    height: 45px;

}
.oranges{
    width: 534px;
    height: 45px;
}


.plates{
    width: 534px;
    height: 45px;
}

.benton{
    width: 534px;
    height: 45px;
}

.sake{
    width: 534px;
    height: 45px;
}

.bon{
    color: #FF8984;;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px
    display: inline-block;
    padding: 12px 0px 12px 0px;
    text-align: center;
    display: inline-block;
}
section div p{  
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center; 
    width: 534px;
    background-color: #4A4F56;
}