*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
nav{
    
}

ul{
    display: inline;
}
form{
    
    display: inline;
}

header{
    
}



.hug{
    max-width: 1200px;
    max-height: 495px;
}
h1{
    font-weight: 700;
    font-size: 44px;
    width: 500px;
    height: 110px;
    margin-bottom: 30px;

}

main p{
    width: 500px;
    height: 91px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

main button{
    width: 180px;
    height: 50px;
    position: relative;
    bottom: 465px;
}

img{
    position: relative;
    left: 400px;
    bottom: 230px;
    width: 644px;
    height: 495px;
}



/*
.superpower{
    position: relative;
    display: flex; 
    width: 1200px;
    height: 495px;
    flex-direction: row;
    display: flex;
    width: 1200px;
    height: 495px;
}*/